In [1]:
!pip install boto3
!pip install pandas

Requirement already satisfied: boto3 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (1.34.85)
Requirement already satisfied: botocore<1.35.0,>=1.34.85 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from boto3) (1.34.85)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from boto3) (1.0.1)
Requirement already satisfied: s3transfer<0.11.0,>=0.10.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from boto3) (0.10.0)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from botocore<1.35.0,>=1.34.85->boto3) (2.8.2)
Requirement already satisfied: urllib3!=2.2.0,<3,>=1.25.4 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from botocore<1.35.0,>=1.34.85->boto3) (2.0.7)
Requirement already satisfied: six>=1.5 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.35.0,>=1.34.85->boto3) (1.16.0)
Requirement already satisfied: pandas in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (2.2.0)
Requirement already satisfied: numpy<2,>=1.22.4 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from pandas) (1.22.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
import boto3

AWS_ACCESS_KEY = "ASIAZQ3DN3Z5CTOO6MNN"
AWS_SECRET_KEY = "ayqxighwdjrJ9Zs1ZLZAce/QIp8+ZROg+DqX7wJ4"
AWS_REGION = "us-east-1"  # Update with your region

athena_client = boto3.client(
    "athena",
    aws_access_key_id=AWS_ACCESS_KEY,
    aws_secret_access_key=AWS_SECRET_KEY,
    region_name=AWS_REGION
)

In [16]:
import boto3
import time

# Initialize the Athena client
athena_client = boto3.client("athena", region_name="us-east-1")

In [17]:
query_string = "SELECT * FROM enigma_jhud"
database_name = "covid_dataset"
output_location = "s3://de-on-covid-csv-useast2-dev-test-bucket/output/"

In [18]:
response = athena_client.start_query_execution(
    QueryString=query_string,
    QueryExecutionContext={"Database": database_name},
    ResultConfiguration={"OutputLocation": output_location}
)

In [20]:
response

{'QueryExecutionId': 'e7728ac2-a1a3-49f0-bd2b-5955e8086aca',
 'ResponseMetadata': {'RequestId': '25752b91-24d2-426f-932a-1c0f6ffcc60f',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Sun, 21 Apr 2024 23:55:49 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '59',
   'connection': 'keep-alive',
   'x-amzn-requestid': '25752b91-24d2-426f-932a-1c0f6ffcc60f'},
  'RetryAttempts': 0}}

In [21]:
import pandas as pd
def download_and_load_query_results(client, query_response):
    while True:
        try:
            # Get the query results using the query execution ID
            client.get_query_results(QueryExecutionId=query_response["QueryExecutionId"])
            break
        except Exception as err:
            if "not yet finished" in str(err):
                time.sleep(0.001)
            else:
                raise err
    
    # Download the query results from S3
    temp_file_location = "athena_query_results.csv"
    s3_client = boto3.client("s3", region_name=AWS_REGION)
    s3_client.download_file(
        "de-on-covid-csv-useast2-dev-test-bucket",
        f"output/{query_response['QueryExecutionId']}.csv",
        temp_file_location,
    )
    
    # Load the query results into a DataFrame
    df = pd.read_csv(temp_file_location)
    
    return df

# Call the function to download and load the query results
enigma_jhud = download_and_load_query_results(athena_client, response)

# Display the DataFrame
print(enigma_jhud.head())

   fips admin2 province_state country_region              last_update  \
0   NaN    NaN          Anhui          China  2020-01-22 17:00:00.000
1   NaN    NaN        Beijing          China  2020-01-22 17:00:00.000
2   NaN    NaN      Chongqing          China  2020-01-22 17:00:00.000
3   NaN    NaN         Fujian          China  2020-01-22 17:00:00.000
4   NaN    NaN          Gansu          China  2020-01-22 17:00:00.000

   latitude  longitude  confirmed  deaths  recovered  active combined_key
0    31.826    117.226        1.0     NaN        NaN     NaN       "Anhui
1    40.182    116.414       14.0     NaN        NaN     NaN     "Beijing
2    30.057    107.874        6.0     NaN        NaN     NaN   "Chongqing
3    26.079    117.987        1.0     NaN        NaN     NaN      "Fujian
4    36.061    103.834        NaN     NaN        NaN     NaN       "Gansu

In [22]:
enigma_jhud

,fips,admin2,province_state,country_region,last_update,latitude,longitude,confirmed,deaths,recovered,active,combined_key
0,NaN,NaN,Anhui,China,2020-01-22 17:00:00.000,31.826,117.226,1.0,NaN,NaN,NaN,"""Anhui"
1,NaN,NaN,Beijing,China,2020-01-22 17:00:00.000,40.182,116.414,14.0,NaN,NaN,NaN,"""Beijing"
2,NaN,NaN,Chongqing,China,2020-01-22 17:00:00.000,30.057,107.874,6.0,NaN,NaN,NaN,"""Chongqing"
3,NaN,NaN,Fujian,China,2020-01-22 17:00:00.000,26.079,117.987,1.0,NaN,NaN,NaN,"""Fujian"
4,NaN,NaN,Gansu,China,2020-01-22 17:00:00.000,36.061,103.834,NaN,NaN,NaN,NaN,"""Gansu"
...,...,...,...,...,...,...,...,...,...,...,...,...
222799,NaN,NaN,NaN,West Bank and Gaza,2020-05-30 02:32:48.000,31.952,35.233,446.0,3.0,368.0,75.0,West Bank and Gaza
222800,NaN,NaN,NaN,Western Sahara,2020-05-30 02:32:48.000,24.215,-12.886,9.0,1.0,6.0,2.0,Western Sahara
222801,NaN,NaN,NaN,Yemen,2020-05-30 02:32:48.000,15.553,48.516,283.0,65.0,11.0,207.0,Yemen
222802,NaN,NaN,NaN,Zambia,2020-05-30 02:32:48.000,-15.417,28.283,1057.0,7.0,779.0,271.0,Zambia
222803,NaN,NaN,NaN,Zimbabwe,2020-05-30 02:32:48.000,-20.000,30.000,149.0,4.0,28.0,117.0,Zimbabwe

In [23]:
import boto3
import pandas as pd
import time

# Define your AWS credentials and region
# AWS_ACCESS_KEY = "your_access_key"
# AWS_SECRET_KEY = "your_secret_key"
# AWS_REGION = "us-east-1"

# Initialize the Athena client with default credential provider chain
athena_client = boto3.client("athena", region_name=AWS_REGION)

# Define the Athena query parameters for nytimes_data_in_usa_us_county table
query_params = {
    "QueryString": "SELECT * FROM nytimes_data_in_usa_us_county",
    "QueryExecutionContext": {"Database": "covid_dataset"},
    "ResultConfiguration": {
        "OutputLocation": "s3://de-on-covid-csv-useast2-dev-test-bucket/output/",
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    }
}

# Execute the Athena query
response = athena_client.start_query_execution(**query_params)

# Define a function to download and load the query results into a DataFrame
def download_and_load_query_results(client, query_response):
    while True:
        try:
            # Get the query results using the query execution ID
            client.get_query_results(QueryExecutionId=query_response["QueryExecutionId"])
            break
        except Exception as err:
            if "not yet finished" in str(err):
                time.sleep(0.001)
            else:
                raise err
    
    # Download the query results from S3
    temp_file_location = "athena_query_results.csv"
    s3_client = boto3.client("s3", region_name=AWS_REGION)
    s3_client.download_file(
        "de-on-covid-csv-useast2-dev-test-bucket",
        f"output/{query_response['QueryExecutionId']}.csv",
        temp_file_location,
    )
    
    # Load the query results into a DataFrame
    df = pd.read_csv(temp_file_location)
    
    return df

# Call the function to download and load the query results for nytimes_data_in_usa_us_county table
nytimes_data_in_usa_us_county = download_and_load_query_results(athena_client, response)

# Display the DataFrame
print(nytimes_data_in_usa_us_county.head())

         date     county       state     fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061.0    1.0     0.0
1  2020-01-22  Snohomish  Washington  53061.0    1.0     0.0
2  2020-01-23  Snohomish  Washington  53061.0    1.0     0.0
3  2020-01-24       Cook    Illinois  17031.0    1.0     0.0
4  2020-01-24  Snohomish  Washington  53061.0    1.0     0.0

In [24]:
import boto3
import pandas as pd
import time

# Initialize AWS credentials and region
# AWS_ACCESS_KEY = "your_access_key"
# AWS_SECRET_KEY = "your_secret_key"
# AWS_REGION = "us-east-1"

# Initialize the Athena client
athena_client = boto3.client("athena", region_name=AWS_REGION)

# Define the Athena query parameters for nytimes_data_in_usa_us_states table
query_params = {
    "QueryString": "SELECT * FROM nytimes_data_in_usa_us_states",
    "QueryExecutionContext": {"Database": "covid_dataset"},
    "ResultConfiguration": {
        "OutputLocation": "s3://de-on-covid-csv-useast2-dev-test-bucket/output/",
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    }
}

# Execute the Athena query
response = athena_client.start_query_execution(**query_params)

# Define a function to download and load the query results into a DataFrame
def download_and_load_query_results(client, query_response):
    while True:
        try:
            # Get the query results using the query execution ID
            client.get_query_results(QueryExecutionId=query_response["QueryExecutionId"])
            break
        except Exception as err:
            if "not yet finished" in str(err):
                time.sleep(0.001)
            else:
                raise err
    
    # Download the query results from S3
    temp_file_location = "athena_query_results.csv"
    s3_client = boto3.client("s3", region_name=AWS_REGION)
    s3_client.download_file(
        "de-on-covid-csv-useast2-dev-test-bucket",
        f"output/{query_response['QueryExecutionId']}.csv",
        temp_file_location,
    )
    
    # Load the query results into a DataFrame
    df = pd.read_csv(temp_file_location)
    
    return df

# Call the function to download and load the query results for nytimes_data_in_usa_us_states table
nytimes_data_in_usa_us_states = download_and_load_query_results(athena_client, response)

# Display the DataFrame
print(nytimes_data_in_usa_us_states.head())

         date       state  fips  cases  deaths
0  2020-01-21  Washington    53      1       0
1  2020-01-22  Washington    53      1       0
2  2020-01-23  Washington    53      1       0
3  2020-01-24    Illinois    17      1       0
4  2020-01-24  Washington    53      1       0

In [25]:
import boto3
import pandas as pd
import time

# Initialize AWS credentials and region
AWS_REGION = "us-east-1"

# Initialize the Athena client
athena_client = boto3.client("athena", region_name=AWS_REGION)

# Define the Athena query parameters for static_datasets_in_countrycode table
query_params = {
    "QueryString": "SELECT * FROM static_datasets_in_countrycode",
    "QueryExecutionContext": {"Database": "covid_dataset"},
    "ResultConfiguration": {
        "OutputLocation": "s3://de-on-covid-csv-useast2-dev-test-bucket/output/",
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    }
}

# Execute the Athena query
response = athena_client.start_query_execution(**query_params)

# Define a function to download and load the query results into a DataFrame
def download_and_load_query_results(client, query_response):
    while True:
        try:
            # Get the query results using the query execution ID
            client.get_query_results(QueryExecutionId=query_response["QueryExecutionId"])
            break
        except Exception as err:
            if "not yet finished" in str(err):
                time.sleep(0.001)
            else:
                raise err
    
    # Download the query results from S3
    temp_file_location = "athena_query_results.csv"
    s3_client = boto3.client("s3", region_name=AWS_REGION)
    s3_client.download_file(
        "de-on-covid-csv-useast2-dev-test-bucket",
        f"output/{query_response['QueryExecutionId']}.csv",
        temp_file_location,
    )
    
    # Load the query results into a DataFrame
    df = pd.read_csv(temp_file_location)
    
    return df

# Call the function to download and load the query results for static_datasets_in_countrycode table
static_datasets_in_countrycode = download_and_load_query_results(athena_client, response)

# Display the DataFrame
print(static_datasets_in_countrycode.head())

          country alpha_2_code alpha_3_code  numeric_code  latitude  longitude
0     Afghanistan           AF          AFG           4.0   33.0000       65.0
1         Albania           AL          ALB           8.0   41.0000       20.0
2         Algeria           DZ          DZA          12.0   28.0000        3.0
3  American Samoa           AS          ASM          16.0  -14.3333     -170.0
4         Andorra           AD          AND          20.0   42.5000        1.6

In [26]:
import boto3
import pandas as pd
import time

# Initialize AWS credentials and region
AWS_REGION = "us-east-1"

# Initialize the Athena client
athena_client = boto3.client("athena", region_name=AWS_REGION)

# Define the Athena query parameters for static_datasets_in_countypopulation table
query_params = {
    "QueryString": "SELECT * FROM static_datasets_in_countypopulation",
    "QueryExecutionContext": {"Database": "covid_dataset"},
    "ResultConfiguration": {
        "OutputLocation": "s3://de-on-covid-csv-useast2-dev-test-bucket/output/",
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    }
}

# Execute the Athena query
response = athena_client.start_query_execution(**query_params)

# Define a function to download and load the query results into a DataFrame
def download_and_load_query_results(client, query_response):
    while True:
        try:
            # Get the query results using the query execution ID
            client.get_query_results(QueryExecutionId=query_response["QueryExecutionId"])
            break
        except Exception as err:
            if "not yet finished" in str(err):
                time.sleep(0.001)
            else:
                raise err
    
    # Download the query results from S3
    temp_file_location = "athena_query_results.csv"
    s3_client = boto3.client("s3", region_name=AWS_REGION)
    s3_client.download_file(
        "de-on-covid-csv-useast2-dev-test-bucket",
        f"output/{query_response['QueryExecutionId']}.csv",
        temp_file_location,
    )
    
    # Load the query results into a DataFrame
    df = pd.read_csv(temp_file_location)
    
    return df

# Call the function to download and load the query results for static_datasets_in_countypopulation table
static_datasets_in_countypopulation = download_and_load_query_results(athena_client, response)

# Display the DataFrame
print(static_datasets_in_countypopulation.head())

               id   id2   county    state  population_estimate_2018
0  0500000US01001  1001  Autauga  Alabama                     55601
1  0500000US01003  1003  Baldwin  Alabama                    218022
2  0500000US01005  1005  Barbour  Alabama                     24881
3  0500000US01007  1007     Bibb  Alabama                     22400
4  0500000US01009  1009   Blount  Alabama                     57840

In [27]:
import boto3
import pandas as pd
import time

# Initialize AWS credentials and region
AWS_REGION = "us-east-1"

# Initialize the Athena client
athena_client = boto3.client("athena", region_name=AWS_REGION)

# Define the Athena query parameters for static_datasets_in_state_abv table
query_params = {
    "QueryString": "SELECT * FROM static_datasets_in_state_abv",
    "QueryExecutionContext": {"Database": "covid_dataset"},
    "ResultConfiguration": {
        "OutputLocation": "s3://de-on-covid-csv-useast2-dev-test-bucket/output/",
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    }
}

# Execute the Athena query
response = athena_client.start_query_execution(**query_params)

# Define a function to download and load the query results into a DataFrame
def download_and_load_query_results(client, query_response):
    while True:
        try:
            # Get the query results using the query execution ID
            client.get_query_results(QueryExecutionId=query_response["QueryExecutionId"])
            break
        except Exception as err:
            if "not yet finished" in str(err):
                time.sleep(0.001)
            else:
                raise err
    
    # Download the query results from S3
    temp_file_location = "athena_query_results.csv"
    s3_client = boto3.client("s3", region_name=AWS_REGION)
    s3_client.download_file(
        "de-on-covid-csv-useast2-dev-test-bucket",
        f"output/{query_response['QueryExecutionId']}.csv",
        temp_file_location,
    )
    
    # Load the query results into a DataFrame
    df = pd.read_csv(temp_file_location)
    
    return df

# Call the function to download and load the query results for static_datasets_in_state_abv table
static_datasets_in_state_abv = download_and_load_query_results(athena_client, response)

# Display the DataFrame
print(static_datasets_in_state_abv.head())

        state abbreviation
0     Alabama           AL
1      Alaska           AK
2     Arizona           AZ
3    Arkansas           AR
4  California           CA

In [28]:
import boto3
import pandas as pd
import time

# Initialize AWS credentials and region
AWS_REGION = "us-east-1"

# Initialize the Athena client
athena_client = boto3.client("athena", region_name=AWS_REGION)

# Define the Athena query parameters for covid_19_testing_data_in_states_daily table
query_params = {
    "QueryString": "SELECT * FROM covid_19_testing_data_in_states_daily",
    "QueryExecutionContext": {"Database": "covid_dataset"},
    "ResultConfiguration": {
        "OutputLocation": "s3://de-on-covid-csv-useast2-dev-test-bucket/output/",
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    }
}

# Execute the Athena query
response = athena_client.start_query_execution(**query_params)

# Define a function to download and load the query results into a DataFrame
def download_and_load_query_results(client, query_response):
    while True:
        try:
            # Get the query results using the query execution ID
            client.get_query_results(QueryExecutionId=query_response["QueryExecutionId"])
            break
        except Exception as err:
            if "not yet finished" in str(err):
                time.sleep(0.001)
            else:
                raise err
    
    # Download the query results from S3
    temp_file_location = "athena_query_results.csv"
    s3_client = boto3.client("s3", region_name=AWS_REGION)
    s3_client.download_file(
        "de-on-covid-csv-useast2-dev-test-bucket",
        f"output/{query_response['QueryExecutionId']}.csv",
        temp_file_location,
    )
    
    # Load the query results into a DataFrame
    df = pd.read_csv(temp_file_location)
    
    return df

# Call the function to download and load the query results for covid_19_testing_data_in_states_daily table
covid_19_testing_data_in_states_daily = download_and_load_query_results(athena_client, response)

# Display the DataFrame
print(covid_19_testing_data_in_states_daily.head())

       date state  positive  probablecases   negative  pending  \
0  20210307    AK     56886            NaN        NaN      NaN
1  20210307    AL    499819       107742.0  1931711.0      NaN
2  20210307    AR    324818        69092.0  2480716.0      NaN
3  20210307    AS         0            NaN     2140.0      NaN
4  20210307    AZ    826454        56519.0  3073010.0      NaN

  totaltestresultssource  totaltestresults  hospitalizedcurrently  \
0        totalTestsViral           1731628                   33.0
1  totalTestsPeopleViral           2323788                  494.0
2        totalTestsViral           2736442                  335.0
3        totalTestsViral              2140                    NaN
4        totalTestsViral           7908105                  963.0

   hospitalizedcumulative  ...  dataqualitygrade  deathincrease  \
0                  1293.0  ...               NaN            0.0
1                 45976.0  ...               NaN           -1.0
2                 14926.0  ...               NaN           22.0
3                     NaN  ...               NaN            0.0
4                 57907.0  ...               NaN            5.0

   hospitalizedincrease                                      hash  \
0                   0.0  dc4bccd4bb885349d7e94d6fed058e285d4be164
1                   0.0  997207b430824ea40b8eb8506c19a93e07bc972e
2                  11.0  50921aeefba3e30d31623aa495b47fb2ecc72fae
3                   0.0  96d23f888c995b9a7f3b4b864de6414f45c728ff
4                  44.0  0437a7a96f4471666f775e63e86923eb5cbd8cdf

   commercialscore negativeregularscore negativescore positivescore  score  \
0              0.0                  0.0           0.0           0.0    0.0
1              0.0                  0.0           0.0           0.0    0.0
2              0.0                  0.0           0.0           0.0    0.0
3              0.0                  0.0           0.0           0.0    0.0
4              0.0                  0.0           0.0           0.0    0.0

   grade
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN

[5 rows x 56 columns]

In [29]:
# Define the Athena query parameters for covid_19_testing_data_in_us_daily table
query_params_us_daily = {
    "QueryString": "SELECT * FROM covid_19_testing_data_in_us_daily",
    "QueryExecutionContext": {"Database": "covid_dataset"},
    "ResultConfiguration": {
        "OutputLocation": "s3://de-on-covid-csv-useast2-dev-test-bucket/output/",
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    }
}

# Execute the Athena query for covid_19_testing_data_in_us_daily table
response_us_daily = athena_client.start_query_execution(**query_params_us_daily)

# Call the function to download and load the query results for covid_19_testing_data_in_us_daily table
covid_19_testing_data_in_us_daily = download_and_load_query_results(athena_client, response_us_daily)

# Display the DataFrame
print(covid_19_testing_data_in_us_daily.head())

       date  states    positive    negative  pending  hospitalizedcurrently  \
0  20210307      56  28755524.0  74579770.0  11808.0                40212.0
1  20210306      56  28714259.0  74449356.0  11783.0                41401.0
2  20210305      56  28654639.0  74307155.0  12213.0                42541.0
3  20210304      56  28585852.0  74035238.0  12405.0                44172.0
4  20210303      56  28520365.0  73857281.0  11778.0                45462.0

   hospitalizedcumulative  inicucurrently  inicucumulative  \
0                878613.0          8137.0          45475.0
1                877887.0          8409.0          45453.0
2                877384.0          8634.0          45373.0
3                874603.0          8970.0          45293.0
4                873073.0          9359.0          45214.0

   onventilatorcurrently  ...          lastmodified recovered  total  posneg  \
0                 2801.0  ...  2021-03-07T24:00:00Z       NaN      0       0
1                 2811.0  ...  2021-03-06T24:00:00Z       NaN      0       0
2                 2889.0  ...  2021-03-05T24:00:00Z       NaN      0       0
3                 2973.0  ...  2021-03-04T24:00:00Z       NaN      0       0
4                 3094.0  ...  2021-03-03T24:00:00Z       NaN      0       0

   deathincrease hospitalizedincrease  negativeincrease  positiveincrease  \
0            839                  726            130414             41265
1           1674                  503            142201             59620
2           2221                 2781            271917             68787
3           1743                 1530            177957             65487
4           2449                 2172            267001             66836

   totaltestresultsincrease                                      hash
0                   1156241  8b26839690cd05c0cef69cb9ed85641a76b5e78e
1                   1409138  d0c0482ea549c9d5c04a7c86acb6fc6a8095a592
2                   1744417  a35ea4289cec4bb55c9f29ae04ec0fd5ac4e0222
3                   1590984  a19ad6379a653834cbda3093791ad2c3b9fab5ff
4                   1406795  9e1d2afda1b0ec243060d6f68a7134d011c0cb2a

[5 rows x 25 columns]

In [30]:
# Define the Athena query parameters for covid_19_testing_data_in_us_total_latest table
query_params_us_total_latest = {
    "QueryString": "SELECT * FROM covid_19_testing_data_in_us_total_latest",
    "QueryExecutionContext": {"Database": "covid_dataset"},
    "ResultConfiguration": {
        "OutputLocation": "s3://de-on-covid-csv-useast2-dev-test-bucket/output/",
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    }
}

# Execute the Athena query for covid_19_testing_data_in_us_total_latest table
response_us_total_latest = athena_client.start_query_execution(**query_params_us_total_latest)

# Call the function to download and load the query results for covid_19_testing_data_in_us_total_latest table
covid_19_testing_data_in_us_total_latest = download_and_load_query_results(athena_client, response_us_total_latest)

# Display the DataFrame
print(covid_19_testing_data_in_us_total_latest.head())

   positive  negative  pending  hospitalizedcurrently  hospitalizedcumulative  \
0   1061101   5170081     2775                  53793                  111955

   inicucurrently  inicucumulative  onventilatorcurrently  \
0            9486             4192                   4712

   onventilatorcumulative  recovered  \
0                     373     153947

                                       hash              lastmodified  death  \
0  95064ba29ccbc20dbec397033dfe4b1f45137c99  2020-05-01T09:12:31.891Z  57266

   hospitalized    total  totaltestresults   posneg             notes
0        111955  6233957           6231182  6231182  "NOTE: ""total""

In [31]:
static_datasets_in_state_abv.head()

        state abbreviation
0     Alabama           AL
1      Alaska           AK
2     Arizona           AZ
3    Arkansas           AR
4  California           CA

In [32]:
covid_19_testing_data_in_us_total_latest.head()

,positive,negative,pending,hospitalizedcurrently,hospitalizedcumulative,inicucurrently,inicucumulative,onventilatorcurrently,onventilatorcumulative,recovered,hash,lastmodified,death,hospitalized,total,totaltestresults,posneg,notes
0,1061101,5170081,2775,53793,111955,9486,4192,4712,373,153947,95064ba29ccbc20dbec397033dfe4b1f45137c99,2020-05-01T09:12:31.891Z,57266,111955,6233957,6231182,6231182,"""NOTE: """"total"""""

In [33]:
new_header = static_datasets_in_state_abv.iloc[0] #grab the first row of the header
static_datasets_in_state_abv = static_datasets_in_state_abv[1:] #take the data only from 1th row and not 0th
static_datasets_in_state_abv.columns = new_header

In [34]:
static_datasets_in_state_abv

0                Alabama  AL
1                 Alaska  AK
2                Arizona  AZ
3               Arkansas  AR
4             California  CA
5               Colorado  CO
6            Connecticut  CT
7               Delaware  DE
8   District of Columbia  DC
9                Florida  FL
10               Georgia  GA
11                Hawaii  HI
12                 Idaho  ID
13              Illinois  IL
14               Indiana  IN
15                  Iowa  IA
16                Kansas  KS
17              Kentucky  KY
18             Louisiana  LA
19                 Maine  ME
20               Montana  MT
21              Nebraska  NE
22                Nevada  NV
23         New Hampshire  NH
24            New Jersey  NJ
25            New Mexico  NM
26              New York  NY
27        North Carolina  NC
28          North Dakota  ND
29                  Ohio  OH
30              Oklahoma  OK
31                Oregon  OR
32              Maryland  MD
33         Massachusetts  MA
34              Michigan  MI
35             Minnesota  MN
36           Mississippi  MS
37              Missouri  MO
38          Pennsylvania  PA
39          Rhode Island  RI
40        South Carolina  SC
41          South Dakota  SD
42             Tennessee  TN
43                 Texas  TX
44                  Utah  UT
45               Vermont  VT
46              Virginia  VA
47            Washington  WA
48         West Virginia  WV
49             Wisconsin  WI
50               Wyoming  WY

In [35]:
factCovid_1 = enigma_jhud[['fips','province_state','country_region','confirmed','deaths','recovered','active']]
factCovid_2 = covid_19_testing_data_in_states_daily[['fips','date','positive','negative','hospitalizedcurrently','hospitalized','hospitalizeddischarged']]
factCovid = pd.merge(factCovid_1, factCovid_2, on='fips', how='inner')

In [36]:
factCovid.shape

(27992, 13)

In [37]:
dimRegion_1 = enigma_jhud[['fips','province_state','country_region','latitude','longitude']]
dimRegion_2 = nytimes_data_in_usa_us_county[['fips','county','state']]
dimRegion = pd.merge(dimRegion_1, dimRegion_2, on='fips', how='inner')

In [39]:
# Define the Athena query parameters for rearc_usa_hospital_beds table
query_params_hospital_beds = {
    "QueryString": "SELECT * FROM rearc_usa_hospital_beds",
    "QueryExecutionContext": {"Database": "covid_dataset"},
    "ResultConfiguration": {
        "OutputLocation": "s3://de-on-covid-csv-useast2-dev-test-bucket/output/",
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    }
}

# Execute the Athena query for rearc_usa_hospital_beds table
response_hospital_beds = athena_client.start_query_execution(**query_params_hospital_beds)

# Call the function to download and load the query results for rearc_usa_hospital_beds table
rearc_usa_hospital_beds = download_and_load_query_results(athena_client, response_hospital_beds)

# Display the DataFrame
print(rearc_usa_hospital_beds.head())

   objectid                                      hospital_name hospital_type  \
0         1  Phoenix VA Health Care System (AKA Carl T Hayd...   VA Hospital
1         2             Southern Arizona VA Health Care System   VA Hospital
2         3           VA Central California Health Care System   VA Hospital
3         4  VA Connecticut Healthcare System - West Haven ...   VA Hospital
4         5                       Wilmington VA Medical Center   VA Hospital

               hq_address hq_address1     hq_city hq_state  hq_zip_code  \
0  650 E Indian School Rd         NaN     Phoenix       AZ        85012
1          3601 S 6th Ave         NaN      Tucson       AZ        85723
2      2615 E Clinton Ave         NaN      Fresno       CA        93703
3        950 Campbell Ave         NaN  West Haven       CT         6516
4       1601 Kirkwood Hwy         NaN  Wilmington       DE        19805

  county_name   state_name  ...  num_licensed_beds  num_staffed_beds  \
0    Maricopa      Arizona  ...              129.0             129.0
1        Pima      Arizona  ...              295.0             295.0
2      Fresno   California  ...               57.0              57.0
3   New Haven  Connecticut  ...              216.0             216.0
4  New Castle     Delaware  ...               60.0              60.0

   num_icu_beds  adult_icu_beds  pedi_icu_beds  bed_utilization  \
0             0               0            NaN              NaN
1             2               2            NaN              NaN
2             2               2            NaN              NaN
3             1               1            NaN              NaN
4             0               0            NaN              NaN

   avg_ventilator_usage  potential_increase_in_bed_capac   latitude  \
0                   0.0                                0  33.495500
1                   2.0                                0  32.181263
2                   2.0                                0  36.773323
3                   2.0                                0  41.284400
4                   1.0                                0  39.740208

   longtitude
0 -112.066154
1 -110.965890
2 -119.779740
3  -72.957610
4  -75.606530

[5 rows x 23 columns]

In [40]:
rearc_usa_hospital_beds.head()

,objectid,hospital_name,hospital_type,hq_address,hq_address1,hq_city,hq_state,hq_zip_code,county_name,state_name,...,num_licensed_beds,num_staffed_beds,num_icu_beds,adult_icu_beds,pedi_icu_beds,bed_utilization,avg_ventilator_usage,potential_increase_in_bed_capac,latitude,longtitude
0,1,Phoenix VA Health Care System (AKA Carl T Hayd...,VA Hospital,650 E Indian School Rd,NaN,Phoenix,AZ,85012,Maricopa,Arizona,...,129.0,129.0,0,0,NaN,NaN,0.0,0,33.495500,-112.066154
1,2,Southern Arizona VA Health Care System,VA Hospital,3601 S 6th Ave,NaN,Tucson,AZ,85723,Pima,Arizona,...,295.0,295.0,2,2,NaN,NaN,2.0,0,32.181263,-110.965890
2,3,VA Central California Health Care System,VA Hospital,2615 E Clinton Ave,NaN,Fresno,CA,93703,Fresno,California,...,57.0,57.0,2,2,NaN,NaN,2.0,0,36.773323,-119.779740
3,4,VA Connecticut Healthcare System - West Haven ...,VA Hospital,950 Campbell Ave,NaN,West Haven,CT,6516,New Haven,Connecticut,...,216.0,216.0,1,1,NaN,NaN,2.0,0,41.284400,-72.957610
4,5,Wilmington VA Medical Center,VA Hospital,1601 Kirkwood Hwy,NaN,Wilmington,DE,19805,New Castle,Delaware,...,60.0,60.0,0,0,NaN,NaN,1.0,0,39.740208,-75.606530

In [41]:
dimHospital = rearc_usa_hospital_beds[['fips','state_name','latitude','longtitude','hq_address','hospital_name','hospital_type','hq_city','hq_state']]

In [42]:
dimDate = covid_19_testing_data_in_states_daily[['fips','date']]

In [43]:
dimDate.head()

   fips      date
0   2.0  20210307
1   1.0  20210307
2   5.0  20210307
3  60.0  20210307
4   4.0  20210307

In [44]:
dimDate['date'] = pd.to_datetime(dimDate['date'], format='%Y%m%d')

/tmp/ipykernel_7006/572748324.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dimDate['date'] = pd.to_datetime(dimDate['date'], format='%Y%m%d')

In [45]:
dimDate.head()

   fips       date
0   2.0 2021-03-07
1   1.0 2021-03-07
2   5.0 2021-03-07
3  60.0 2021-03-07
4   4.0 2021-03-07

In [46]:
dimDate['year'] = dimDate['date'].dt.year
dimDate['month'] = dimDate['date'].dt.month
dimDate['day_of_week'] = dimDate['date'].dt.dayofweek

/tmp/ipykernel_7006/935310350.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dimDate['year'] = dimDate['date'].dt.year
/tmp/ipykernel_7006/935310350.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dimDate['month'] = dimDate['date'].dt.month
/tmp/ipykernel_7006/935310350.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dimDate['day_of_week'] = dimDate['date'].dt.dayofweek

In [47]:
dimDate.head()

   fips       date  year  month  day_of_week
0   2.0 2021-03-07  2021      3            6
1   1.0 2021-03-07  2021      3            6
2   5.0 2021-03-07  2021      3            6
3  60.0 2021-03-07  2021      3            6
4   4.0 2021-03-07  2021      3            6

In [48]:
bucket = 'de-on-covid-csv-useast2-dev'

In [50]:
from io import StringIO

csv_buffer = StringIO()
csv_buffer

In [51]:
factCovid.to_csv(csv_buffer)

In [52]:
s3_resource = boto3.resource('s3')
s3_resource.Object(bucket, 'output/factCovid.csv').put(Body=csv_buffer.getvalue())

{'ResponseMetadata': {'RequestId': '4AZG7RWV5MDTTRJA',
  'HostId': '+JA320UBZX/fY+9QRd03K4LiCktqXafLfXRd7Rw1fXYuHZcbAoTi/iOopcIpxrDABoBx/mtortA=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': '+JA320UBZX/fY+9QRd03K4LiCktqXafLfXRd7Rw1fXYuHZcbAoTi/iOopcIpxrDABoBx/mtortA=',
   'x-amz-request-id': '4AZG7RWV5MDTTRJA',
   'date': 'Mon, 22 Apr 2024 00:56:21 GMT',
   'x-amz-version-id': 'Fqhnrt60HIMt_JW48vp5KQnTIuDuj_bB',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"ceb661db241606c22d4ba00f83bc9639"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 0},
 'ETag': '"ceb661db241606c22d4ba00f83bc9639"',
 'ServerSideEncryption': 'AES256',
 'VersionId': 'Fqhnrt60HIMt_JW48vp5KQnTIuDuj_bB'}

In [53]:
csv_buffer1 = StringIO()
csv_buffer1

In [54]:
dimRegion.to_csv(csv_buffer1)

In [55]:
s3_resource = boto3.resource('s3')
s3_resource.Object(bucket, 'output/dimRegion.csv').put(Body=csv_buffer1.getvalue())

{'ResponseMetadata': {'RequestId': 'G1FS59K9VVA2VRBV',
  'HostId': '/NHgD91GOT9NQNtjMQQgWwooEgoBKLLt2Aslv/8vmNeVf7gbh+0JyFo0sJqiuAIEN6xa4F2y2lC7nj47eImyoL/Z3cVMFgpa',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': '/NHgD91GOT9NQNtjMQQgWwooEgoBKLLt2Aslv/8vmNeVf7gbh+0JyFo0sJqiuAIEN6xa4F2y2lC7nj47eImyoL/Z3cVMFgpa',
   'x-amz-request-id': 'G1FS59K9VVA2VRBV',
   'date': 'Mon, 22 Apr 2024 00:58:16 GMT',
   'x-amz-version-id': 'UPrTcroniFNqse3geztHIoH66_auUWjS',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"5d2790204b5b0ed1b731a222690caf4b"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 0},
 'ETag': '"5d2790204b5b0ed1b731a222690caf4b"',
 'ServerSideEncryption': 'AES256',
 'VersionId': 'UPrTcroniFNqse3geztHIoH66_auUWjS'}

In [56]:
csv_buffer2 = StringIO()
csv_buffer2

In [57]:
dimHospital.to_csv(csv_buffer2)

In [58]:
s3_resource = boto3.resource('s3')
s3_resource.Object(bucket, 'output/dimHospital.csv').put(Body=csv_buffer2.getvalue())

{'ResponseMetadata': {'RequestId': 'A6437S1T8W1X078V',
  'HostId': 'XmVdOoUwJ8P3tc/KrSSDGW3xcjmRLemCPmKPOGDQiEQqz//16F43TwvklKr9spuso4qmG66fds0dSDNXKU1J+NlEpX3J3hXs',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'XmVdOoUwJ8P3tc/KrSSDGW3xcjmRLemCPmKPOGDQiEQqz//16F43TwvklKr9spuso4qmG66fds0dSDNXKU1J+NlEpX3J3hXs',
   'x-amz-request-id': 'A6437S1T8W1X078V',
   'date': 'Mon, 22 Apr 2024 00:58:42 GMT',
   'x-amz-version-id': '3bUJhDM8gqgihS8hTg.7ip57JqGNdb84',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"271885b832d451f724cc22fe694ca5dd"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 0},
 'ETag': '"271885b832d451f724cc22fe694ca5dd"',
 'ServerSideEncryption': 'AES256',
 'VersionId': '3bUJhDM8gqgihS8hTg.7ip57JqGNdb84'}

In [59]:
csv_buffer3 = StringIO()
csv_buffer3

In [60]:
dimDate.to_csv(csv_buffer3)

In [61]:
s3_resource = boto3.resource('s3')
s3_resource.Object(bucket, 'output/dimDate.csv').put(Body=csv_buffer3.getvalue())

{'ResponseMetadata': {'RequestId': 'BVPYBKNF87HYMK6A',
  'HostId': 'Wz8/4xnsBD8MN0Hvc98naJuBflBl4oKoin/ALlQMnNKmFFaWCM8kIJdCq+C7XjVUFk7npJsRzl4=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'Wz8/4xnsBD8MN0Hvc98naJuBflBl4oKoin/ALlQMnNKmFFaWCM8kIJdCq+C7XjVUFk7npJsRzl4=',
   'x-amz-request-id': 'BVPYBKNF87HYMK6A',
   'date': 'Mon, 22 Apr 2024 00:59:04 GMT',
   'x-amz-version-id': 'vUWW0nNHCs_DJjIXgqEoy8mfyBY7kVRu',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"c806953ef77c6fc33fdf78f5d2b636e4"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 0},
 'ETag': '"c806953ef77c6fc33fdf78f5d2b636e4"',
 'ServerSideEncryption': 'AES256',
 'VersionId': 'vUWW0nNHCs_DJjIXgqEoy8mfyBY7kVRu'}

In [62]:
dimDatesql = pd.io.sql.get_schema(dimDate.reset_index(), 'dimDate')
print(''.join(dimDatesql))

CREATE TABLE "dimDate" (
"index" INTEGER,
  "fips" REAL,
  "date" TIMESTAMP,
  "year" INTEGER,
  "month" INTEGER,
  "day_of_week" INTEGER
)

In [63]:
factCovidsql = pd.io.sql.get_schema(factCovid.reset_index(), 'factCovid')
print(''.join(factCovidsql))

CREATE TABLE "factCovid" (
"index" INTEGER,
  "fips" REAL,
  "province_state" TEXT,
  "country_region" TEXT,
  "confirmed" REAL,
  "deaths" REAL,
  "recovered" REAL,
  "active" REAL,
  "date" INTEGER,
  "positive" INTEGER,
  "negative" REAL,
  "hospitalizedcurrently" REAL,
  "hospitalized" REAL,
  "hospitalizeddischarged" REAL
)

In [64]:
dimRegionsql = pd.io.sql.get_schema(dimRegion.reset_index(), 'dimRegion')
print(''.join(dimRegionsql))

CREATE TABLE "dimRegion" (
"index" INTEGER,
  "fips" REAL,
  "province_state" TEXT,
  "country_region" TEXT,
  "latitude" REAL,
  "longitude" REAL,
  "county" TEXT,
  "state" TEXT
)

In [65]:
dimHospitalsql = pd.io.sql.get_schema(dimHospital.reset_index(), 'dimHospital')
print(''.join(dimHospitalsql))

CREATE TABLE "dimHospital" (
"index" INTEGER,
  "fips" INTEGER,
  "state_name" TEXT,
  "latitude" REAL,
  "longtitude" REAL,
  "hq_address" TEXT,
  "hospital_name" TEXT,
  "hospital_type" TEXT,
  "hq_city" TEXT,
  "hq_state" TEXT
)

In [67]:
!pip install redshift_connector

Collecting redshift_connector
  Downloading redshift_connector-2.1.1-py3-none-any.whl.metadata (66 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 66.8/66.8 kB 6.3 MB/s eta 0:00:00
Collecting scramp<1.5.0,>=1.2.0 (from redshift_connector)
  Downloading scramp-1.4.5-py3-none-any.whl.metadata (19 kB)
Requirement already satisfied: pytz>=2020.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from redshift_connector) (2024.1)
Requirement already satisfied: beautifulsoup4<5.0.0,>=4.7.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from redshift_connector) (4.12.3)
Requirement already satisfied: boto3<2.0.0,>=1.9.201 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from redshift_connector) (1.34.85)
Requirement already satisfied: requests<3.0.0,>=2.23.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from redshift_connector) (2.31.0)
Collecting lxml>=4.6.5 (from redshift_connector)
  Downloading lxml-5.2.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (3.4 kB)
Requirement already satisfied: botocore<2.0.0,>=1.12.201 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from redshift_connector) (1.34.85)
Requirement already satisfied: packaging in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from redshift_connector) (21.3)
Requirement already satisfied: setuptools in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from redshift_connector) (69.1.0)
Requirement already satisfied: soupsieve>1.2 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from beautifulsoup4<5.0.0,>=4.7.0->redshift_connector) (2.5)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from boto3<2.0.0,>=1.9.201->redshift_connector) (1.0.1)
Requirement already satisfied: s3transfer<0.11.0,>=0.10.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from boto3<2.0.0,>=1.9.201->redshift_connector) (0.10.0)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from botocore<2.0.0,>=1.12.201->redshift_connector) (2.8.2)
Requirement already satisfied: urllib3!=2.2.0,<3,>=1.25.4 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from botocore<2.0.0,>=1.12.201->redshift_connector) (2.0.7)
Requirement already satisfied: charset-normalizer<4,>=2 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from requests<3.0.0,>=2.23.0->redshift_connector) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from requests<3.0.0,>=2.23.0->redshift_connector) (3.6)
Requirement already satisfied: certifi>=2017.4.17 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from requests<3.0.0,>=2.23.0->redshift_connector) (2024.2.2)
Collecting asn1crypto>=1.5.1 (from scramp<1.5.0,>=1.2.0->redshift_connector)
  Downloading asn1crypto-1.5.1-py2.py3-none-any.whl.metadata (13 kB)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from packaging->redshift_connector) (3.1.1)
Requirement already satisfied: six>=1.5 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from python-dateutil<3.0.0,>=2.1->botocore<2.0.0,>=1.12.201->redshift_connector) (1.16.0)
Downloading redshift_connector-2.1.1-py3-none-any.whl (125 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 125.0/125.0 kB 2.6 MB/s eta 0:00:00:00:01
Downloading lxml-5.2.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (5.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.0/5.0 MB 56.0 MB/s eta 0:00:00:00:01
Downloading scramp-1.4.5-py3-none-any.whl (12 kB)
Downloading asn1crypto-1.5.1-py2.py3-none-any.whl (105 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 105.0/105.0 kB 8.3 MB/s eta 0:00:00
Installing collected packages: asn1crypto, scramp, lxml, redshift_connector
Successfully installed asn1crypto-1.5.1 lxml-5.2.1 redshift_connector-2.1.1 scramp-1.4.5

In [68]:
import redshift_connector